<link
  rel="stylesheet"
  href="{{ 'v2-section.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

{% liquid
 assign position = section.settings.content-position 
 assign position-array = position | split: "," 
 assign space-left = position-array[0] 
 assign space-bottom = position-array[1] 

 assign title = section.settings.font-size-title 
 assign title-array = title | split: "," 
 assign font-title-desktop = title-array[0] 
 assign font-title-mobile = title-array[1] 

 assign sub-title = section.settings.font-size-sub-title 
 assign sub-title-array = sub-title | split: "," 
 assign font-sub-title-desktop = sub-title-array[0] 
 assign font-sub-title-mobile = sub-title-array[1] 

 assign font-button = section.settings.font-size-button 
 assign font-button-array = font-button | split: "," 
 assign font-button-desktop = font-button-array[0] 
 assign font-button-mobile = font-button-array[1] 
%}

<style>
  .shopify-section-{{ section.id}}.section {
    {% case section.settings.flex %}
      {% when 'option1' %}
      grid-template-columns: 37% 63%;
      {% when 'option2' %}
      grid-template-columns: 63% 37%;
      {% when 'option3' %}
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      {% when 'option4' %}
      grid-template-columns: repeat({{ section.settings.items-per-line }}, 1fr);
      grid-row-gap: 0;
    {% else %}
    {% endcase %}
  }

  .shopify-section-{{ section.id}}.section {
    --margin-top: {{ section.settings.margin-top | escape | append: 'px'  }}
    ;
    --margin-inline: {{ section.settings.margin-vertical | escape |append: 'px'  }}
    ;
    --item-gap: {{ section.settings.item-gap | append: 'px'  }}
    ;
  }

  .shopify-section-{{ section.id}}.section .section-v2__item img {
    --item-width: {{ section.settings.item-width }}
  }
  .shopify-section-{{ section.id}}.section .section-v2__item-content {
    --left: {{ space-left  | append: 'px'  }}
    ;
    --bottom: {{ space-bottom | append: 'px'  }}
    ;
    --gap: {{ section.settings.content-gap | append: 'px'  }}
    ;

    {% if section.settings.item-content-center %}
      --left: {{ 50 | escape | append: '%'  }}
      ;
      --bottom: {{ 30 | escape |append: 'px' }}
      ;
      transform: translateX(-50%);
    {% endif %}
    {% if section.settings.content-center %}
      --align-item: {{ "center" | escape }}
      ;
    {% else %}
      --align-item: {{ "start" | escape}}
      ;
    {% endif %}

    {% if section.settings.is-content-position %}
      --position: {{ "static" | escape }}
      ;
    {% else %}
      --position: {{ "absolute"  | escape}}
      ;
    {% endif %}
  }

  .shopify-section-{{ section.id}}.section .section-v2__item-content__group-text-title {
    --font-title-desktop: {{ font-title-desktop | append: 'px'  }}
  }

  .shopify-section-{{ section.id}}.section .section-v2__item-content__group-text-sub-title {
    --font-sub-title-desktop: {{ font-sub-title-desktop | append: 'px'  }}
  }

  .shopify-section-{{ section.id}}.section .button {
    --font-button-desktop: {{ font-button-desktop | append: 'px' }}
  }

  .shopify-section-{{ section.id}}.section .button a {
    {% if section.settings.text-decoration %}
      text-decoration: underline;
    {% else %}
      text-decoration: none;
    {% endif %}
  }
  .shopify-section-{{ section.id}}.section .section-v2__item-img {
    --height-img: {{ section.settings.img-height | append: 'px'  }}
    ;
  }
</style>
<div class="shopify-section-{{ section.id}} section">
  {% for _block in section.blocks %}
    {% case _block.type %}
      {% when 'banner' %}
      {% assign item = _block.settings %}
      {% assign _id = _block.id %}

      <style>
        .section-v2__item[data-element="{{ _id }}"] .button {
          {% case item.button-style %}
            {% when 'option1' %}
            --color: black;
            --background: transparent;
            --border: 1px solid #000;
            --padding: {{ 60 | append: 'px'  }}
            ;
            {% when 'option2' %}
            --color: black;
            --background: white;
            --border: none;
            --padding: {{ 60 | append: 'px'  }}
            ;
            {% when 'option3' %}
            --color: #fff;
            --background: transparent;
            --border: none;
            --padding: {{ 0 | append: 'px'  }}
            ;
            {% when 'option4' %}
            --color: #000;
            --background: transparent;
            --border: none;
            --padding: {{ 0 | append: 'px'  }}
            ;
            {% when "option5" %}
            --color: #fff;
            --background: transparent;
            --border: 1px solid #fff;
            --padding: {{ 40 | append: 'px'  }}
            ;
          {% else %}
          {% endcase %}
        }

        .section-v2__item[data-element="{{ _id }}"] .section-v2__item-content__group-text {
          --color: {{ item.content-text-color | escape }}
          ;
        }
      </style>

      <div class="section-v2__item" data-element="{{ _id }}">
        <img {% if item.img != blank %}src="{{ item.img | image_url }}"{% else %}src="https://cdn.shopify.com/s/files/1/0742/4648/8339/files/image-gallery.png?v=1681718418"{% endif %}alt="img"class="section-v2__item-img">
        <div class="section-v2__item-content">
          <div class="section-v2__item-content__group-text">
            <span class="section-v2__item-content__group-text-title">{{ item.title }}</span>
            {% if item.sub-title != blank %}
              <span class="section-v2__item-content__group-text-sub-title">{{ item.sub-title }}</span>
            {% endif %}
          </div>
          <div class="section-v2__item-content__group-button">
            {% if item.button-left != blank %}
              <div class="button section-v2__item-content__group-button-left">
                <a href="{{ item.button-left-url }}">{{ item.button-left }}</a>
              </div>
            {% endif %}
            {% if item.button-right != blank %}
              <div class="button section-v2__item-content__group-button-right">
                <a href="{{ item.button-right-url }}">{{ item.button-right }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endcase %}
  {% endfor %}
</div>



{% schema %}
  {
    "name": "Section V2",
    "tag": "section",
    "blocks": [
      {
        "name": "Section V2",
        "type": "banner",
        "settings": [
          {
            "type": "header",
            "content": "Banner"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "textarea",
            "label": "Title",
            "id": "title",
            "default": "Extra 50% off Sale"
          },
          {
            "type": "color",
            "id": "content-text-color",
            "label": "Content Text Color",
            "default": "#000"
          }, {
            "type": "text",
            "id": "sub-title",
            "label": "Sub Title",
            "default": "Only best, selected brands!"
          }, {
            "id": "button-left",
            "type": "text",
            "label": "Button Left",
            "default": "Clothes on sale"
          }, {
            "type": "url",
            "id": "button-left-url",
            "label": "Url Button Left"
          }, {
            "id": "button-right",
            "type": "text",
            "label": "Button Right",
            "default": " Shoes on sale"
          }, {
            "type": "url",
            "id": "button-right-url",
            "label": "Url Button Right"
          }, {
            "type": "select",
            "id": "button-style",
            "label": "Style Button",
            "options": [
              {
                "label": "Option 1",
                "value": "option1"
              },
              {
                "label": "Option 2",
                "value": "option2"
              },
              {
                "label": "Option 3",
                "value": "option3"
              },
              {
                "label": "Option 4",
                "value": "option4"
              }, {
                "label": "Option 5",
                "value": "option5"
              }
            ],
            "default": "option1"
          }

        ]
      }

    ],
    "settings": [
      {
        "type": "text",
        "id": "margin-top",
        "label": "Margin Top",
        "default": "0"
      },
      {
        "type": "text",
        "id": "margin-vertical",
        "label": "Margin Inline",
        "default": "0"
      },
      {
        "type": "select",
        "label": "Flex",
        "id": "flex",
        "options": [
          {
            "label": "Flex banner 36%/64%",
            "value": "option1"
          }, {
            "label": "Flex banner 64/36%",
            "value": "option2"
          }, {
            "label": "Flex Wrap List",
            "value": "option3"
          }, {
            "label": "Flex Slider",
            "value": "option4"
          }
        ],
        "default": "option1"
      },
      {
        "type": "text",
        "id": "item-gap",
        "label": "Item Gap: Ex: 2 -> 2px",
        "default": "0",
        "info": "distance between items"
      }, {
        "type": "text",
        "id": "content-position",
        "label": "Content Position: Left,Bottom",
        "default": "40,80",
        "info": "position of content on item"
      }, {
        "type": "text",
        "id": "font-size-title",
        "label": "Font Title : Desktop, Mobile",
        "default": "50,30"
      }, {
        "type": "text",
        "id": "font-size-sub-title",
        "label": "Font Sub Title : Desktop, Mobile",
        "default": "20,18"
      }, {
        "type": "checkbox",
        "id": "text-decoration",
        "label": "Text Decoration",
        "default": false
      }, {
        "type": "text",
        "default": "40",
        "id": "content-gap",
        "label": "Content Gap",
        "info": "space between text and button"
      }, {
        "type": "checkbox",
        "id": "content-center",
        "label": "Content Bottom Center",
        "default": false
      }, {
        "type": "checkbox",
        "id": "item-content-center",
        "label": "Item Content Center",
        "default": false
      }, {
        "type": "checkbox",
        "id": "is-content-position",
        "label": "Content Bottom",
        "default": false
      }, {
        "type": "text",
        "id": "font-size-button",
        "label": "Font Size Buttom: Desktop , Mobile",
        "default": "16,16"
      }, {
        "type": "text",
        "id": "img-height",
        "label": "Height Img",
        "default": "600"
      }, {
        "type": "text",
        "id": "item-width",
        "label": "Item Width: 332px / 100%",
        "default": "332px"
      }, {
        "type": "number",
        "id": "items-per-line",
        "label": "Items/line",
        "default": 3
      }
    ],
    "presets": [
      {
        "name": "V2 Section"
      }
    ]
  }
{% endschema %}